.col-md-4.col-md-offset-4
  h2 Edit Profile

  = simple_form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f|
    = f.error_notification

    .form-inputs
      = f.input :name, required: true, autofocus: true
      = f.input :email, required: true
      = f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false
      = f.input :password_confirmation, required: false
      = f.input :current_password, hint: "we need your current password to confirm your changes", required: true

    .form-actions
      = f.button :submit, "Update", class: ['btn', 'btn-primary', 'center-block']

  h3
    | Cancel my account

  p 
    | Unhappy? 
    = link_to "Cancel my account", user_registration_path, data: { confirm: "Are you sure?" }, method: :delete

  = link_to "Back", :back
