.col-md-4.col-md-offset-4
  h2 Sign up

  = render "shared/flash"

  = simple_form_for(resource, as: resource_name, url: user_registration_path) do |f|

    = f.error_notification

    .form-inputs
      = f.input :name, required: true, autofocus: true
      = f.input :email, required: true
      = f.input :type, \
                as: :select, \
                collection: User.types, \
                selected: 'Manager', \
                include_blank: false

      = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
      = f.input :password_confirmation, required: true

    .form-actions
      = f.button :submit, "Sign up", class: ['btn', 'btn-primary', 'center-block']

  = render "devise/shared/links"
