#flash
  = render 'shared/flash'

h1
  = "Diff between Version #{@version.id} and Current Version"
hr

style
  = Diffy::CSS

.well.diff
  p
    strong Description:
    = diff(@version.reify.description, @excursion.description)

p
  = "Version authored by #{User.find(@version.whodunnit).name} on #{@version.created_at}."


.text-center
	= link_to 'Back', :back, class: ['btn', 'btn-default']
