- flash.each do |name, msg|
  - msg = [msg] if msg.class != Array
  - msg.each do |full_message|
    div class="#{flash_class(name)}" role="alert"
      button.close type="button" data-dismiss="alert" aria-label="Close"
        span aria-hidden="true"
          | &times;

      = full_message
