ul.nav.navbar-nav
  /li = link_to 'Excursions', excursions_path
  li = link_to 'Cities', cities_path
  /li = link_to 'Categories', categories_path

  - unless user_signed_in?
    li = link_to 'Log in', new_user_session_path
    li = link_to 'Sign up', new_user_registration_path
    
  - else
    li class="dropdown"
      a.dropdown-toggle href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
        | Manage
        span.caret
      ul class="dropdown-menu"
        li = link_to 'Excursions', admin_excursions_path
        li = link_to 'Cities', admin_cities_path
        li = link_to 'Categories', admin_categories_path

        - if current_user.is_manager?
          li = link_to 'Complete!', complete_admin_excursions_path

    li class="dropdown"
      a.dropdown-toggle href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
        = "#{current_user.name} (#{current_user.type})" 
        span.caret
      ul class="dropdown-menu"
        li
          = link_to 'Profile', edit_user_registration_path
        li role="separator" class="divider"
        li
          = link_to 'Log out', destroy_user_session_path, method: :delete
