nav.navbar.navbar-default.navbar-fixed-top  role="navigation"
  .container
    .navbar-header
      button.navbar-toggle.collapsed type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to 'Excursiopedia Test', root_path, class: 'navbar-brand'

    #navbar.collapse.navbar-collapse
        .navbar-right
          = render 'shared/menu_items'
