= simple_form_for([:admin, @excursion]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, \
      palceholder: 'Excursion name', \
      hint: '2 - 120 chars', \
      required: true

    = f.input :description, \
      placeholder: 'Short description'

    = f.input :published
    = f.association :city, \
      prompt: 'Select city', \
      include_blank: false

    = f.association :categories, \
      include_blank: false, \
      hint: 'You can select multiple values, just start typing'

    = hidden_field_tag("completing", true) if local_assigns[:completing] && completing

  .form-actions
    = f.button :submit, \
      class: ['btn', 'btn-primary']

javascript:
  $( "#excursion_category_ids" ).select2({
    placeholder: "Select categories",
    theme: "bootstrap"
  });
