.col-md-4.col-md-offset-4
  h1 Editing excursion

  #flash
    = render 'shared/flash'

  == render 'form', completing: @completing

  = link_to 'Show', [:admin, @excursion]
  '|
  = link_to 'Back', admin_excursions_path

