.col-md-12
  #flash
    = render 'shared/flash'

  .table-responsive
    table.table.table-hover.table-striped
      caption
        h1 Excursions
      thead
        tr
          th Name
          th Description
          th Published
          th City
          th Categories
          th

      tbody
        - @excursions.each do |excursion|
          tr
            td = link_to excursion.name, [:admin, excursion]
            td = excursion.description ? (excursion.description[0, 32] + '...') : ''
            td = excursion.published ? '&#9733;'.html_safe : '&#9734;'.html_safe
            td = excursion.city.name
            td = excursion.categories.pluck(:name).join(', ')
            td
              - if policy(excursion).edit?
                | &ensp;
                = link_to 'Edit', edit_admin_excursion_path(excursion)

              - if policy(excursion).destroy?
                | &ensp;
                = link_to 'Destroy', excursion, data: {:confirm => 'Are you sure?'}, :method => :delete

  br

  - if policy(Excursion).new?
    = link_to 'Add Excursion', new_admin_excursion_path, class: ['btn', 'btn-default']
