.col-md-8.col-md-offset-2
  #flash
    = render 'shared/flash'

  p
    strong Name:&ensp;
    = @excursion.name
  p
    strong Description:&ensp;
    = @excursion.description
  p
    strong Published:&ensp;
    = @excursion.published
  p
    strong City:&ensp;
    = @excursion.city.name

  p
    strong Categories:&emsp;
    = @excursion.categories.pluck(:name).join(', ')

  .table-responsive
    table.table.table-hover.table-striped
      caption
        h1 Versions
      thead
        tr
          th Date
          th Author
          th

      tbody
        - @excursion.versions.reverse.each do |version|
          tr
            td = version.created_at
            td = User.find(version.whodunnit).name
            td
              = link_to 'Diff', diff_admin_excursion_version_path(@excursion, version)

  br

  - if policy(@excursion).edit?
    = link_to 'Edit', edit_admin_excursion_path(@excursion), class: ['btn', 'btn-default']

  = link_to 'Back', admin_excursions_path, class: ['btn', 'btn-default']
