.col-md-8.col-md-offset-2
  #flash
    = render 'shared/flash'

  .table-responsive
    table.table.table-hover.table-striped
      caption
        h1 Cities
      thead
        tr
          th Name
          th

      tbody
        - @cities.each do |city|
          tr
            td = city.name
            td
              - if policy(city).edit?
                = link_to 'Edit', edit_admin_city_path(city)

              - if policy(city).destroy?
                | &ensp;
                = link_to 'Destroy', [:admin, city], \
                  data: {:confirm => 'Are you sure?'}, \
                  :method => :delete

  br

  - if policy(City).new?
    = link_to 'Add City', new_admin_city_path, class: ['btn', 'btn-default']
