.col-md-4.col-md-offset-4
  #flash
    = render 'shared/flash'

  p
    strong Name:
    = @city.name

  - if policy(@city).edit?
    = link_to 'Edit', edit_admin_city_path(@city)
    '|

  = link_to 'Back', admin_cities_path
