.col-md-4.col-md-offset-4
  h2 Log in

  = render "shared/flash"

  = simple_form_for(resource, as: resource_name, url: user_session_path) do |f|
    .form-inputs
      = f.input :email, required: false, autofocus: true
      = f.input :password, required: false
      = f.input :remember_me, as: :boolean if devise_mapping.rememberable?

    .form-actions
      = f.button :submit, "Log in", class: ['btn', 'btn-primary', 'center-block']

  = render "devise/shared/links"
