= simple_form_for([:admin, @category]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, \
      placeholder: 'Nature', \
      hint: '2 - 32 chars', \
      required: true

  .form-actions
    = f.button :submit, \
      class: ['btn', 'btn-primary']
