.col-md-8.col-md-offset-2
  #flash
    = render 'shared/flash'

  .table-responsive
    table.table.table-hover.table-striped
      caption
        h1 Categories
      thead
        tr
          th Name
          th

      tbody
        - @categories.each do |category|
          tr
            td = category.name
            td
              - if policy(category).edit?
                = link_to 'Edit', edit_admin_category_path(category)

              - if policy(category).destroy?
                | &ensp;
                = link_to 'Destroy', [:admin, category], data: {:confirm => 'Are you sure?'}, :method => :delete

  br

  - if policy(Category).new?
    = link_to 'Add Category', new_admin_category_path, class: ['btn', 'btn-default']
