.col-md-4.col-md-offset-4
  #flash
    = render 'shared/flash'

  p
    strong Name:
    = @category.name

  - if policy(@category).edit?
    = link_to 'Edit', edit_admin_category_path(@category)
    '|

  = link_to 'Back', admin_categories_path
