#flash
  = render 'shared/flash'

.cities
  - @cities.each do |city|
    section.city
      h1.text-center
        = link_to city.name, city
      hr

      .excursions.thumbnails
        = render partial: 'excursions/thumbnail', \
                 collection: city.excursions.published.limit(5), \
                 as: :excursion
