#flash
  = render 'shared/flash'

section.city
  h1.text-center
    = @city.name
  hr

  .col-md-10.col-md-offset-1.excursions
    = render partial: 'excursions/panel', \
             collection: @city.excursions.published, \
             as: :excursion, \
             locals: { footer: :categories }

  .col-md-1

.text-center
  = link_to 'Back', cities_path, class: ['btn', 'btn-default']
