/*
 * require_tree .
 * require_self
 */

@import "select2"

@import "bootstrap-sprockets"
/* ----------------------- Bootstrap parameters --------------------------- */

@import "bootstrap"
@import "select2-bootstrap"
/* ------------------------- Custom parameters ---------------------------- */

$footer-height: 60px
$heading-color: #555

/* --------------------------- Custom Styles ------------------------------ */

html, body
  height: 100%

html
  position: relative

// body
  /* Margin bottom by footer height */
  // margin-bottom: $footer-height

// .container

body > .container
  min-height: 100%
  padding: $footer-height 15px 0
  margin-bottom: -$footer-height
  background-color: #fff
  &:after
    content: ""
    display: block
    height: $footer-height

.table > tbody > tr > td
  &:last-of-type
    @extend .text-right
    max-width: 300px

h1, h2, h3, h4, h5, h6
  a
    color: $heading-color
    &:hover, &:visited
      color: $heading-color

section
  overflow: auto

.excursions.thumbnails
  width: 100%
  display: flex

  .thumbnail
    flex: 1
    max-width: 19%
    margin: 0 10px 20px 10px
    box-sizing: border-box

    &:first-of-type
      margin-left: 0

    &:last-of-type
      margin-right: 0

.excursion.full
  h2, h3, h4, h5
    display: inline
  .city, .categories
    display: inline-block
    h1
      @extend h3

.thumbnail .caption h1
  @extend h4
  text-decoration: underline

h1.panel-title
  font-size: 24px

.panel-footer
  h1
    @extend h4
    display: inline


.footer
  height: $footer-height
  width: 100%
  background-color: #f5f5f5

  p
    padding: 0
    margin: 0
    vertical-align: middle
    line-height: $footer-height

.footer > .container
  padding-right: 15px
  padding-left: 15px
