#flash
  = render 'shared/flash'

section.category
  h1.text-center
    = @category.name
  hr

  .col-md-10.col-md-offset-1.excursions
    = render partial: 'excursions/panel', \
             collection: @category.excursions.published, \
             as: :excursion, \
             locals: { footer: :city }

  .col-md-1
