.panel.panel-default.excursion
  .panel-heading
    h1.panel-title
      = link_to excursion.name, excursion
  .panel-body
    = excursion.description ? excursion.description : ''

  .panel-footer
    - if footer == :categories && excursion.categories.any?
      .categories
        = categories_links(excursion)
    - elsif footer == :city && excursion.city
      .city
        = link_to excursion.city do
          = content_tag(:h1, excursion.city.name)
