.thumbnail.excursion
  .caption
    - if local_assigns[:removable] && removable
      strong
        = link_to '&times;'.html_safe, \
          erase_excursion_path(excursion), \
          method: :delete
    h1
      = link_to excursion.name, excursion
    p
      = excursion.description ? (excursion.description[0, 32] + '...') : ''
