.col-md-9
  #flash
    = render 'shared/flash'

  .jumbotron.excursion.full
    h1.text-center
      = @excursion.name
    hr
    p = @excursion.description
    hr

    p
      h3 City:&ensp;
      .city
        = link_to @excursion.city do
          = content_tag(:h1, @excursion.city.name)

    p
      h3 Categories:&ensp;
      - if @excursion.categories.any?
        .categories
          = categories_links(@excursion)

.col-md-3
  aside.excursions
    h1 History
    hr
    = render partial: 'excursions/thumbnail', \
             collection: @visited_excursions, \
             as: :excursion, \
             locals: { removable: true }
