doctype html
/[if lt IE 7]
  html.no-js.lt-ie9.lt-ie8.lt-ie7 lang="en"
/[if IE 7]
  html.no-js.lt-ie9.lt-ie8 lang="en"
/[if IE 8]
  html.no-js.lt-ie9 lang="en"
| <!--[if (gte IE 8)]<!--> <html class="no-js" lang="en"> <!--<![endif]-->
head
  title Excursiopedia Test
  meta charset="utf-8"
  meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
  meta name="description" content="tasks"
  meta name="viewport" content="width=device-width, initial-scale=1.0"
  = favicon_link_tag '/favicon.ico'
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
  = csrf_meta_tag
  = javascript_include_tag "application", 'data-turbolinks-track' => true

body
  = render 'shared/menu'

  .container
    == yield
  = render 'shared/footer'
